.container {
  width: 100%;
  min-height: 100vh;
  padding-top: 20vh;
}

.container > div {
  width: 90%;
  max-width: 30rem;
  margin: 0 auto;
  text-align: center;
}

.logo {
  margin-bottom: 80px;
}

.links-container {
  display: grid;
  gap: 30px;
}

.links-container a {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  height: 4.5rem;
  padding: 0 20px;
}

.links-container a div {
  margin-left: auto;
}

@media (min-width: 38rem) {
  .container {
    padding: 0;
    background-color: var(--Dark-Purple);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container > div {
    background-color: var(--Purple);
    padding: 70px 40px 60px 40px;
    border-radius: 40px;
    border: var(--Black-Border);
    box-shadow: var(--Black-Shadow);
  }
}